
@import "bootstrap-sprockets"
@import "bootstrap"

// Fixes the distance between labels when there a bunch of them
.label
  display: inline-block
  padding: .2em .6em .3em
  font-size: 75%
  font-weight: bold

// Fixes the background scrolling when opening a modal
body.modal-open
  overflow: hidden
  position: fixed
  width: 100%

// Add spacing around nav tabs in panel
.panel
  >.nav.nav-tabs
    padding-top: 20px
    margin-bottom: 10px

  >.panel-body
    padding: 15px 0
